In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("0101_0131_all_feature_FS_deal.csv")

In [17]:
data.shape

(12793, 3)

In [18]:
data = data[["user_id","sound_id","pay_DL"]]

In [19]:
user_id_counts = data['user_id'].value_counts()

In [20]:
data['sound_id'].value_counts()

6976696    502
7017722    470
6928876    399
7018734    313
6905747    262
          ...
4197235      1
6709330      1
3233631      1
5068368      1
3483134      1
Name: sound_id, Length: 1607, dtype: int64

In [25]:
# 统计每个用户访问的项目数量
item_counts = data.groupby('user_id')['sound_id'].count().reset_index()
item_counts.columns = ['user_id', 'sound_id']

# 统计每个用户的is_pay为0和1的数量
pay_counts = data.groupby(['user_id', 'pay_DL']).size().unstack(fill_value=0).reset_index()
pay_counts.columns = ['user_id', 'pay_DL_0','pay_DL_1']

# 将两个结果合并
result = pd.merge(item_counts, pay_counts, on='user_id')

In [26]:
result.to_csv("cross_info_0101_0131_FS.csv",index=None)

In [27]:
result

       user_id  sound_id  pay_DL_0  pay_DL_1
0        12304         1         1         0
1        24488         5         4         1
2        40018         1         0         1
3        46155         1         0         1
4        52981         1         1         0
...        ...       ...       ...       ...
5728  24432070         1         0         1
5729  24434565         1         0         1
5730  24522524         4         0         4
5731  24547495         1         0         1
5732  24657259         4         0         4

[5733 rows x 4 columns]